<div class="sec-content">
    <div class="title">
        <p> Upload Completed</p>
        <div></div>
    </div>
    <div class="full-section form-input">
        <form class="permission-paper" [formGroup]="permissionForm">
            <div class="paper-permissions">
                <div class="file-paper">
                    <div class="paper-file"><img src="assets/img/paper.png" alt=""></div>
                    <div class="title">
                        <p> Upload Completed</p>
                        <div></div>
                    </div>
                </div>
                <div class="permissions">
                    <mat-radio-group
                            class="permission-radio-group">
                        <mat-radio-button class="permission-radio-button"  value="1">
                            Given access to all the platform members to view.

                        </mat-radio-button>
<!--                        <mat-radio-button class="permission-radio-button"  value="1">-->
<!--                            Given access to all the platform members to view & download.-->
<!--                        </mat-radio-button>-->
<!--                        <mat-radio-button class="permission-radio-button"  value="1">-->
<!--                            Given access to all the platform members to view.-->
<!--                        </mat-radio-button>-->
                    </mat-radio-group>
                </div>
            </div>
            <div class="submit">
                <button>Submit</button>
            </div>
        </form>
    </div>

</div>
