<div class="c-item">
    <div class="bookmark">
        <i class="fa fa-bookmark-o"></i>
    </div>

    <div class="close-desc">
        <div class="title">
            <h3>Environmental health: How our
                food choices is affecting the earth.
            </h3>
            <div></div>
        </div>
        <div class="close-dialog">
            <i class="fa fa-times"></i>
        </div>

    </div>


    <div class="paper-card-info">
        <h6 class="by">By</h6>
        <h6 style="font-weight: bold ; color: #75cddd;">Ghina Sallit</h6>
    </div>
    <div class="paper-card-info">
        <i class="fa fa-tag" aria-hidden="true"></i> <h6>Envirpment . Earth</h6>
    </div>
    <div class="paper-card-info">
        <i class="fa fa-calendar-minus-o" aria-hidden="true"></i> <h6>25.April.2019</h6>
    </div>
    <div class="paper-description">
        <p>
            Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna
            Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna
            Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna
            Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna
            Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna
            Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna
            Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna
            Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna
            Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna
            Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna
            Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna
            Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna
            Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna
            Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna
            Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna
            Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna
        </p>
    </div>
    <div class="view-download">

        <div class="views-paper">
            <i class="fa fa-eye" aria-hidden="true"></i> <h6>2125 Views</h6>
        </div>
        <div class="download-paper">
            <i class="fa fa-download" aria-hidden="true"></i>  <h6>Download</h6>
        </div>
        <div class="read-more">
            <div class="title ">
                <p>Read more</p>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>
