
.sec-img {
    height: 100%;
}

.upload-file{
    height: 835px;
}

.upload-file img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-input .item {
    width: 100%;
}

.form-input .mat-form-field {
    width: 100%;
}

.form-input .item input {
    height: 30px;
}


.upload-file .title {
    font-size: 30px;
    font-weight: bold;
    color: #1b2850;
}


.login-register div{
    margin: 0 25px;

}

/*navBar*/
.nav-collapsed {
    height: 100%;
    color: #fff;
    display: flex;
    width: 100%;
    background-color: #1b2850;
    position: absolute;
    z-index: 500;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar i {
    font-size: 51px;
    color: #fff;
    border: 30px;
    text-align: center;
    border-radius: unset;
    line-height: inherit;
    margin-top: -3px;
    width: 115px;
    height: 105px;

}


#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: '';
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    transition: all 500ms ease-in-out;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
    background: #1b2850;
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
    background: #1b2850;
}

/* end navbar*/


.title div {
    border: 13px solid #75cddd;
    background-color: #75cddd;
    width: 115px;
}


.upload-file .full-section {
    position: relative;
    background: #f1f2f2;
    margin: 65px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.full-section {
    position: relative;

    background: #f1f2f2;
    display: flex;
    justify-content: space-between;
    width: 100%;

}

/*.upload-file-info p {*/
/*    font-size: 18px;*/
/*}*/


/*.upload-paper-form {*/
/*    width: 100%;*/
/*}*/


/*.submit {*/
/*    text-align: center;*/
/*    height: 55px;*/
/*    display: flex;*/
/*}*/

/*.submit button {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: #75cddd;*/
/*    border: none;*/
/*    color: #fff;*/
/*    font-size: 30px;*/
/*}*/

/*.choose-file{*/
/*    border: 1px solid #75cddd;*/
/*}*/


/*.drag-box{*/
/*    height: 130px;*/
/*    text-align: center;*/
/*}*/

/*.drag-box p {*/
/*    padding: 60px;*/
/*    font-size: 21px;*/
/*    color: #707070;*/
/*}*/



/*.file_name {*/
/*    margin: 100px 0;*/
/*    height: 55px;*/
/*    display: flex;*/
/*    background: #fff;*/
/*    padding: 10px 20px;*/
/*    justify-content: space-between;*/
/*}*/



/*.check-filename{*/
/*    display: flex;*/
/*    justify-content: flex-start;*/

/*}*/
/*.check-filename p{*/
/*    margin-top: 5px;*/
/*    font-size: 20px;*/

/*}*/

/*.check-filename i{*/
/*    font-size: 40px;*/
/*    margin-right: 20px;*/
/*    color: #75cddd;*/
/*}*/

/*.check-filename i{*/
/*    width: 40px;*/
/*}*/


/*.clear{*/
/*    text-align: right;*/
/*}*/

/*.clear i{*/
/*    font-size: 35px;*/
/*}*/


/*input[type="file"] {*/
/*    display: none;*/
/*}*/
/*.custom-file-upload {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: #75cddd;*/
/*    border: none;*/
/*    color: #fff;*/
/*    font-size: 30px;*/
/*    padding: 8px 0;*/
/*    font-weight: normal;*/

/*}*/
