<div class="nav-collapsed" *ngIf="collapsed">
  <a>Home Page</a>
  <a>Research Paper</a>
  <a>About Us</a>
  <a>How to Become a Researcher</a>
  <a>Our Members</a>
  <a>Heat Map</a>
  <a>Contact Us</a>
</div>
<div class="full-section upload-file" data-aos-duration="1000">
  <div class="side">
    <div class="sec-img">
      <img src="assets/img/research.jpg" alt="">
    </div>
  </div>
  <div class="side">
    <div class="navbar-login">
      <div class="navbar"
           [style.z-index]="collapsed ? '550' : ''"
           [style.background-color]="collapsed ? '#fff' : ''">
        <a id="nav-toggle" [ngClass]="collapsed ? 'active' : ''" (click)="collapsed = !collapsed">
          <span [style.color]="collapsed ? '#1b2850' : ''"></span>
        </a>
      </div>
      <div class="login-register">
        <div class="lang">العربية</div>
        <div>Log out</div>
      </div>
    </div>
    <router-outlet></router-outlet>

  </div>
</div>
