<div class="nav-collapsed" *ngIf="collapsed">
  <a>Home Page</a>
  <a>Research Paper</a>
  <a>About Us</a>
  <a>How to Become a Researcher</a>
  <a>Our Members</a>
  <a>Heat Map</a>
  <a>Contact Us</a>
</div>
<div class="full-section login" data-aos-duration="1000">
  <div class="side">
    <div class="sec-img">
      <img src="assets/img/member1.jpg" alt="">
    </div>
  </div>
  <div class="side">
    <div class="navbar-login">
      <div class="navbar"
           [style.z-index]="collapsed ? '550' : ''"
           [style.background-color]="collapsed ? '#fff' : ''">
        <a id="nav-toggle" [ngClass]="collapsed ? 'active' : ''" (click)="collapsed = !collapsed">
          <span [style.color]="collapsed ? '#1b2850' : ''"></span>
        </a>
      </div>
    </div>
    <div class="sec-content">
      <div class="title">
        <p>Welcome back!</p>
        <div></div>
      </div>
      <div class="full-section form-input">
        <form class="example-form" [formGroup]="myForm">

          <div class="item">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email Address" formControlName="comment">
            </mat-form-field>
          </div>
          <div class="item">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" formControlName="message">
            </mat-form-field>
            <div class="forget-password"><a>Forget your password?</a></div>
          </div>
          <div class="submit">
            <button>Login</button>
          </div>
          <div class="go-login"><P>Don't have an account?</P><a>Join us.</a></div>
        </form>
      </div>

    </div>
  </div>
</div>
