<div class="nav-collapsed" *ngIf="collapsed">
    <a>Home Page</a>
    <a>Research Paper</a>
    <a>About Us</a>
    <a>How to Become a Researcher</a>
    <a>Our Members</a>
    <a>Heat Map</a>
    <a>Contact Us</a>
</div>

<div class="full-section" data-aos="fade-up" data-aos-duration="1000">
    <div class="left-sticker"></div>
    <div class="center-sticker"></div>
    <div class="side">
        <div class="sec-img">
            <img src="assets/img/member1.jpg">
        </div>
    </div>
    <div class="side">
        <div class="navbar-login">
            <div class="navbar"
                 [style.z-index]="collapsed ? '550' : ''"
                 [style.background-color]="collapsed ? '#fff' : ''">
                <a id="nav-toggle" [ngClass]="collapsed ? 'active' : ''" (click)="collapsed = !collapsed">
                    <span [style.color]="collapsed ? '#1b2850' : ''"></span>
                </a>
            </div>
            <div class="login-register">
                <div class="lang">العربية</div>
                <div class="rigister">Register</div>
                <div class="login">Login</div>
            </div>
        </div>

        <div class="sec-content">
            <div class="about-content">
                <h1 class="text-left">
                    <p>About</p>
                    <p>Arab Youth</p>
                    <p> Research Library</p></h1>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet aperiam atque consequuntur
                        ducimus
                        et
                        fuga fugiat non odit quos, ratione repellendus, sapiente temporibus totam veritatis! Ipsum laborum
                        officia
                        voluptatibus.</p>
                </div>

            </div>
            <div class="social">
                <div><i class="fa fa-facebook"></i></div>
                <div><i class="fa fa-instagram"></i></div>
                <div><i class="fa fa-twitter"></i></div>
                <div><i class="fa fa-youtube"></i></div>
            </div>

            <div class="blue-sep"></div>
        </div>
    </div>
</div>


<div class="become-researcher" data-aos="fade-up" data-aos-duration="1000">
    <div class="title">
        <p>About Arab Youth Research</p>
        <div></div>
    </div>
    <div class="cards">
        <div class="card-item">
            <img src="assets/img/broad-knowledge.PNG" alt="">
            <div class="title">
                <p>Search</p>
                <div></div>
            </div>
        </div>
        <div class="card-item">
            <img src="assets/img/job-opportunities.PNG" alt="">
            <div class="title">
                <p>Research</p>
                <div></div>
            </div>
        </div>
        <div class="card-item">
            <img src="assets/img/sharing-knowledge.PNG" alt="">
            <div class="title">
                <p>View</p>
                <div></div>
            </div>
        </div>
    </div>
</div>

<div class="full-section" data-aos="fade-up" data-aos-duration="1000">
    <div class="left-sticker"></div>
    <div class="center-sticker"></div>
    <div class="side">
        <div class="sec-img">
            <img src="assets/img/member1.jpg">
        </div>
    </div>
    <div class="side">
        <div class="sec-content">
            <div class="researshers">
                <h1 class="text-left">
                    <p>Researchers</p>
                    <p>All Around</p>
                    <p> The World.</p></h1>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet aperiam atque consequuntur
                        ducimus et fuga fugiat non odit quos, ratione repellendus,
                        sapiente temporibus totam veritatis! Ipsum laborum
                        sapiente temporibus totam veritatis! Ipsum laborum
                        sapiente temporibus totam veritatis! Ipsum laborum
                        sapiente temporibus totam veritatis! Ipsum laborum
                        sapiente temporibus totam veritatis! Ipsum laborum
                        officia voluptatibus.</p>
                </div>

            </div>

            <div class="blue-sep"></div>
        </div>
    </div>
</div>
