.profile-info {
    width: auto;
    height: auto;
    background-color: #F1F2F2;


}

::ng-deep .mat-dialog-container {
    background: #F1F2F2 !important;


}

.profile-form {
    width: 100%;
    height: 100%;
    padding: 12px 35px;
    display: flex;
    justify-content: space-around;
}


.info-left-section, .info-right-section {
    width: 50%;
}


.profile-info .title div {
    border: 13px solid #75cddd;
    background-color: #75cddd;
    width: 115px;

}

.info-right-section .title {
    font-size: 30px;
    font-weight: bold;
    color: #1b2850;
    margin-bottom: 25px;
    width: 90%;

}


.submit {
    text-align: center;
    height: 55px;
    margin: 20px 0 10px 0;
    display: flex;
}

.submit button {
    width: 100%;
    height: 100%;
    background-color: #75cddd;
    border: none;
    color: #fff;
    font-size: 30px;
}

.example-form {
    /*min-width: 150px;*/
    /*max-width: 500px;*/
    /*width: 100%;*/
}

.example-full-width {
    width: 75%;
    padding: 0 !important;
    border-top: none !important;
}


.textbox-lines {
    width: 500px;
    max-width: 100%;
    font-size: 19px;
    border: none;
    background-attachment: local;
    background-image: linear-gradient(to right, #F1F2F2, #F1F2F2 5px, transparent 5px), linear-gradient(to left, #F1F2F2, #F1F2F2 5px, transparent 5px), repeating-linear-gradient(#F1F2F2, #F1F2F2 36px, #75CDDD 36px, #75CDDD 37px);
    line-height: 38px;
    padding: 6.3333333333px 10px;
    resize: none;
}


.info-left-section .title {
    font-size: 30px;
    font-weight: bold;
    color: #1b2850;
    margin-bottom: 15px;
}

.profile-skip {
    margin: 70px 10px 20px;;
    text-align: right;

}


.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 75%;
}


::ng-deep .mat-form-field-infix {
    padding: 0;
    border-top: 0em solid transparent;
}

.avatar {
    margin-bottom: 10px;
}

.profile-skip span {
    margin: 0 25px;
    color: #75CDDD;
}

.profile-skip {

}

.profile-skip a {
    color: #75CDDD;
}


.image-upload > input {
    display: none;
}


.image-upload {
    position: absolute;
    top: 220px;
    right: 125px;
    width: 35px;
    height: 35px;
    padding: 5px;
    background-color: #FFF;
}

.image-upload img {
    width: 27px;
    height: 22px;
}

.avatar {
    position: relative;
}


.close-dialog {
    width: 45px;
    height: 45px;
    background: #1B2850;
    color: white;
    font-size: 32px;
    text-align: center;
}

.close-desc {
    display: flex;
    justify-content: space-around;
}

.field-item {
    position: relative;
}

.field-item i {
    position: absolute;
    left: -20px;
    top: 10px;
}

::ng-deep .mat-form-field-infix input {
    line-height: 1.5;
    padding: 3px 20px;
}

::ng-deep mat-select {
    padding: 3px 0 3px 20px;
}

.field-item .field-select i {
    position: absolute;
    top: 7px;
    left: -23px;
}

::ng-deep .mat-select-panel {
    background: #f1f2f2;
    border: 1px solid #cacece;
    box-shadow: 0px 0px 7px 3px #d4d8d8;
}

.mat-form-field i {
    position: absolute;
    left: -22px;
    top: 7px;

}
