<div class="nav-collapsed" *ngIf="collapsed">
    <a>Home Page</a>
    <a>Research Paper</a>
    <a>About Us</a>
    <a>How to Become a Researcher</a>
    <a>Our Members</a>
    <a>Heat Map</a>
    <a>Contact Us</a>
</div>

<div class="top-home">
    <div class="navbar-login">
        <div class="navbar"
             [style.z-index]="collapsed ? '550' : ''"
             [style.background-color]="collapsed ? '#fff' : ''">
            <a id="nav-toggle" [ngClass]="collapsed ? 'active' : ''" (click)="collapsed = !collapsed">
                <span [style.color]="collapsed ? '#1b2850' : ''"></span>
            </a>
        </div>
        <div class="login-register">
            <div class="lang">العربية</div>
            <div class="rigister">Register</div>
            <div class="login">Login</div>
        </div>
        <div class="statistics">
            <div>
                <p>Home To </p><span>800,000 </span>
                <p>research papers from </p> <span>455,44 </span>
            </div>
            <div>
                <p>researchers across </p>
                <span>77.7</span>
                <p>discipline</p>
            </div>
        </div>
    </div>
</div>
<div class="research-section" data-aos="fade-down" data-aos-duration="100">
    <div class="title-search">
        <div class="research-title">
            <div class="title">
                <p>Research Papers</p>
                <div>
                </div>
            </div>
        </div>
        <div class="research-search">
            <!--<div class="rsearch">-->
            <div class="navigator">
                <div class="nav-block">
                    <!-- navbar only -->
                    <!-- invoke the collapsed menu button for smallviewports -->
                    <label for="show-menu" class="show-menu"><span class="grow">&nbsp;&nbsp;<i class="fas fa-bars">&nbsp;&darr;&nbsp;</i></span></label>

                    <input type="checkbox" id="show-menu" role="button">
                    <div id="menu">
                        <div class="drop-list" dropdown>
                            <!-- Use unicode &#x25BC; for dropdown tringle--->
                            <a dropdownToggle>Discipline <span>&#x25BE;</span></a>
                            <div *dropdownMenu role="menu" class="dropdown-menu text-center">
                                <div class="pt-2 pb-2"><a href="/mission">Mission</a></div>
                                <div class="pt-2 pb-2"><a href="/purpose">Purpose</a></div>
                                <div class="pt-2 pb-2"><a href="/leadership">Leadership</a></div>
                            </div>
                        </div>
                        <div class="drop-list"><a>Country</a></div>
                        <div class="drop-list" dropdown>
                            <a dropdownToggle>Language <span>&#x25BE;</span> </a>
                            <div *dropdownMenu role="menu" class="dropdown-menu text-center">
                                <div class="pt-2 pb-2"><a href="/showcase">Showcase</a></div>
                                <div class="pt-2 pb-2"><a href="/scholarship">Scholarship</a></div>
                                <div class="pt-2 pb-2"><a href="/testimonials">Testimonials</a></div>
                            </div>
                        </div>
                        <div class="drop-list"><a>Year</a></div>
                    </div>
                </div><!--nav-block-->
            </div>
            <div class="col-lg-12 research-input">
                <div class="row">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="fa fa-search"
                                                                                 aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
            </div>

            <!--</div>-->

        </div>
    </div>
    <div class="cards-items">
        <div class="c-item" data-aos="fade-up" data-aos-duration="500" (click)="viewPaper()">
            <div class="bookmark">
                <i class="fa fa-bookmark-o"></i>
            </div>
            <div class="title">
                <h3>Environmental health: How our
                    food choices is affecting the earth.
                </h3>
                <div></div>
            </div>
            <div class="paper-card-info">
                <h6 class="by">By</h6>
                <h6 style="font-weight: bold ; color: #75cddd;">Ghina Sallit</h6>
            </div>
            <div class="paper-card-info">
                <i class="fa fa-tag" aria-hidden="true"></i> <h6>Envirpment . Earth</h6>
            </div>
            <div class="paper-card-info">
                <i class="fa fa-calendar-minus-o" aria-hidden="true"></i> <h6>25.April.2019</h6>
            </div>
            <div class="paper-description">
                <p>
                Lorem ipsum dolor sit amet, consectetuer
                adipiscing elit, sed diam nonummy nibh
                euismod tincidunt ut laoreet dolore magna
                Lorem ipsum dolor sit amet, consectetuer
                adipiscing elit, sed diam nonummy nibh
                euismod tincidunt ut laoreet dolore magna
                </p>
            </div>
            <div class="view-download">

                <div class="views-paper">
                    <i class="fa fa-eye" aria-hidden="true"></i> <h6>2125 Views</h6>
                </div>
                <div class="download-paper">
                    <i class="fa fa-download" aria-hidden="true"></i>  <h6>Download</h6>
                </div>
                <div class="edit-paper">
                    <i class="fa fa fa-pencil-square-o"></i>
                </div>
            </div>
        </div>
        <div class="c-item" data-aos="fade-up" data-aos-duration="1000" (click)="viewPaper()">
            <div class="bookmark">
                <i class="fa fa-bookmark-o"></i>
            </div>
            <div class="title">
                <h3>Environmental health: How our
                    food choices is affecting the earth.
                </h3>
                <div></div>
            </div>
            <div class="paper-card-info">
                <h6 class="by">By</h6>
                <h6 style="font-weight: bold ; color: #75cddd;">Ghina Sallit</h6>
            </div>
            <div class="paper-card-info">
                <i class="fa fa-tag" aria-hidden="true"></i> <h6>Envirpment . Earth</h6>
            </div>
            <div class="paper-card-info">
                <i class="fa fa-calendar-minus-o" aria-hidden="true"></i> <h6>25.April.2019</h6>
            </div>
            <div class="paper-description">
                <p>
                    Lorem ipsum dolor sit amet, consectetuer
                    adipiscing elit, sed diam nonummy nibh
                    euismod tincidunt ut laoreet dolore magna
                    Lorem ipsum dolor sit amet, consectetuer
                    adipiscing elit, sed diam nonummy nibh
                    euismod tincidunt ut laoreet dolore magna
                </p>
            </div>
            <div class="view-download">

                <div class="views-paper">
                    <i class="fa fa-eye" aria-hidden="true"></i> <h6>2125 Views</h6>
                </div>
                <div class="download-paper">
                    <i class="fa fa-download" aria-hidden="true"></i>  <h6>Download</h6>
                </div>
                <div class="edit-paper">
                    <i class="fa fa fa-pencil-square-o"></i>
                </div>
            </div>
        </div>
        <div class="c-item" data-aos="fade-up" data-aos-duration="1500" (click)="viewPaper()">
            <div class="bookmark">
                <i class="fa fa-bookmark-o"></i>
            </div>
            <div class="title">
                <h3>Environmental health: How our
                    food choices is affecting the earth.
                </h3>
                <div></div>
            </div>
            <div class="paper-card-info">
                <h6 class="by">By</h6>
                <h6 style="font-weight: bold ; color: #75cddd;">Ghina Sallit</h6>
            </div>
            <div class="paper-card-info">
                <i class="fa fa-tag" aria-hidden="true"></i> <h6>Envirpment . Earth</h6>
            </div>
            <div class="paper-card-info">
                <i class="fa fa-calendar-minus-o" aria-hidden="true"></i> <h6>25.April.2019</h6>
            </div>
            <div class="paper-description">
                <p>
                    Lorem ipsum dolor sit amet, consectetuer
                    adipiscing elit, sed diam nonummy nibh
                    euismod tincidunt ut laoreet dolore magna
                    Lorem ipsum dolor sit amet, consectetuer
                    adipiscing elit, sed diam nonummy nibh
                    euismod tincidunt ut laoreet dolore magna
                </p>
            </div>
            <div class="view-download">

                <div class="views-paper">
                    <i class="fa fa-eye" aria-hidden="true"></i> <h6>2125 Views</h6>
                </div>
                <div class="download-paper">
                    <i class="fa fa-download" aria-hidden="true"></i>  <h6>Download</h6>
                </div>
                <div class="edit-paper">
                    <i class="fa fa fa-pencil-square-o"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="button-action">
        <button>View more</button>
    </div>
</div>
