<div class="nav-collapsed" *ngIf="collapsed">
  <a>Home Page</a>
  <a>Research Paper</a>
  <a>About Us</a>
  <a>How to Become a Researcher</a>
  <a>Our Members</a>
  <a>Heat Map</a>
  <a>Contact Us</a>
</div>
<div class="full-section register" data-aos-duration="1000">
  <div class="side">
    <div class="sec-img">
      <img src="assets/img/research.jpg" alt="">
    </div>
  </div>
  <div class="side">
    <div class="navbar-login">
      <div class="navbar"
           [style.z-index]="collapsed ? '550' : ''"
           [style.background-color]="collapsed ? '#fff' : ''">
        <a id="nav-toggle" [ngClass]="collapsed ? 'active' : ''" (click)="collapsed = !collapsed">
          <span [style.color]="collapsed ? '#1b2850' : ''"></span>
        </a>
      </div>
    </div>
    <div class="sec-content">
      <div class="title">
        <p>Lets Share Knowledge!</p>
        <div></div>
      </div>
      <div class="full-section form-input">
        <form class="example-form" [formGroup]="registerForm">
          <div class="item-full-name">
            <mat-form-field class="example-full-width first-name">
              <input matInput placeholder="First Name" formControlName="f_name">
            </mat-form-field>
            <mat-form-field class="example-full-width last-name">
              <input matInput placeholder="Last Name" formControlName="l_name">
            </mat-form-field>
          </div>
          <div class="item">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email Address" formControlName="email">
            </mat-form-field>
          </div>
            <div class="item">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="User Name" formControlName="username">
              </mat-form-field>
            </div>
          <div class="item">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" formControlName="password">
            </mat-form-field>
          </div>
          <div class="submit">
            <button (click)="openDialog()" >Register</button>
<!--            <input type="file" class="form-control" class="dropify" formControlName="File" #File>-->
<!--            <button type="submit" class="btn btn-default" (click)="upload(File.value)" >Submit</button>-->

          </div>
          <div class="go-login"><P>Already have an account?</P><a>Register</a></div>
        </form>
      </div>

    </div>
  </div>
</div>
