
.sec-img {
    height: 100%;
}


.register img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-input .item {
    width: 100%;
}

.form-input .mat-form-field {
    width: 100%;
}

.form-input .item input {
    height: 30px;
}


.register .title {
    font-size: 30px;
    font-weight: bold;
    color: #1b2850;
}


/*navBar*/
.nav-collapsed {
    height: 100%;
    color: #fff;
    display: flex;
    width: 100%;
    background-color: #1b2850;
    position: absolute;
    z-index: 500;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar i {
    font-size: 51px;
    color: #fff;
    border: 30px;
    text-align: center;
    border-radius: unset;
    line-height: inherit;
    margin-top: -3px;
    width: 115px;
    height: 105px;

}


#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: '';
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    transition: all 500ms ease-in-out;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
    background: #1b2850;
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
    background: #1b2850;
}

/* end navbar*/


.register .title div {
    border: 13px solid #75cddd;
    background-color: #75cddd;
    width: 115px;
}


.register {
    height: 835px;
}

.full-section {
    position: relative;
    background: #F1F2F2;
    display: flex;
    justify-content: space-between;
    width: 100%;



}

.register-info p {
    font-size: 18px;
}


.example-form {
    width: 100%;
}

.item-full-name {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.submit {
    text-align: center;
    height: 70px;
    margin: 20px 0 10px 0;
    display: flex;

}


.submit button {
    width: 100%;
    height: 100%;
    background-color: #75cddd;
    border: none;
    color: #fff;
    font-size: 35px;
}


.first-name {
    margin-right: 70px;
}

.go-login {
    display: flex;
}

.go-login p {
    font-size: 20px;
}
