
.full-section {
    position: relative;

    background: #f1f2f2;
    display: flex;
    justify-content: space-between;
    width: 100%;

}


.sec-img {
    height: 100%;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: #1b2850;
}



.title div {
    border: 13px solid #75cddd;
    background-color: #75cddd;
    width: 115px;
}


.textbox-lines {
    width: 500px;
    max-width: 100%;
    font-size: 19px;
    border: none;
    background-attachment: local;
    background-image: linear-gradient(to right, #F1F2F2, #F1F2F2 5px, transparent 5px), linear-gradient(to left, #F1F2F2, #F1F2F2 5px, transparent 5px), repeating-linear-gradient(#F1F2F2, #F1F2F2 36px, #75CDDD 36px, #75CDDD 37px);
    line-height: 38px;
    padding: 6.3333333333px 10px;
    resize: none;
}



.form-input .item {
    width: 100%;
}

.form-input .mat-form-field {
    width: 100%;
    margin: 15px 0px;
}

.form-input .item input {
    height: 30px;
}


.upload-file{
    height: 835px;
}

.upload-file img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-input .item {
    width: 100%;
}

.form-input .mat-form-field {
    width: 100%;
}

.form-input .item input {
    height: 30px;
}


.upload-file .title {
    font-size: 30px;
    font-weight: bold;
    color: #1b2850;
}


.login-register div{
    margin: 0 25px;

}

/*navBar*/
.nav-collapsed {
    height: 100%;
    color: #fff;
    display: flex;
    width: 100%;
    background-color: #1b2850;
    position: absolute;
    z-index: 500;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar i {
    font-size: 51px;
    color: #fff;
    border: 30px;
    text-align: center;
    border-radius: unset;
    line-height: inherit;
    margin-top: -3px;
    width: 115px;
    height: 105px;

}


#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: '';
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    transition: all 500ms ease-in-out;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
    background: #1b2850;
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
    background: #1b2850;
}

/* end navbar*/

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.sec-content{
     text-align: left;
     width: 85%;
     margin-left: 100px
 }

.form-input{
    margin-top: 20px;
}

.lang{
    margin-top: 25px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;}


.mat-radio-button {
    margin: 0 10px;
    display: inline-block;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
}

::ng-deep .mat-select-panel {
    min-width: 112px;
    max-width: 280px;
    overflow: scroll !important;
    -webkit-overflow-scrolling: touch;
    padding-top: 0;
    padding-bottom: 0;
    max-height: 256px;
    min-width: 100%;
    border-radius: 4px;
    background: #efefef;
}

.upload-paper-form{
    width: 85%;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}


textarea.mat-input-element {
    resize: vertical;
    overflow: scroll;
}

::ng-deep .mat-form-field-underline {
    background-color: #75cddd !important;
}


::ng-deep .mat-form-field-ripple {
    background-color: #75cddd !important;
}

::ng-deep .mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
    background: #75cddd !important;
}


::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #75cddd;
}


::ng-deep  .mat-radio-outer-circle {
    box-sizing: border-box;
    height: 20px;
    left: 0;
    position: absolute;
    top: -32px;
    transition: border-color ease 280ms;
    width: 20px;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
}

::ng-deep .mat-radio-inner-circle {
    border-radius: 50%;
    box-sizing: border-box;
    height: 20px;
    left: 0;
    position: absolute;
    top: -32px;
    transition: transform ease 280ms,background-color ease 280ms;
    width: 20px;
    transform: scale(.001);
}


::ng-deep  .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #75cddd;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #75cddd;
}

::ng-deep label{
    font-weight: normal !important;
}



.submit {
    text-align: center;
    height: 70px;
    margin: 20px 0 10px 0;
    display: flex;

}


.submit button {
    width: 100%;
    height: 100%;
    background-color: #75cddd;
    border: none;
    color: #fff;
    font-size: 35px;
}

