<div class="nav-collapsed" *ngIf="collapsed">
  <a>Home Page</a>
  <a>Research Paper</a>
  <a>About Us</a>
  <a>How to Become a Researcher</a>
  <a>Our Members</a>
  <a>Heat Map</a>
  <a>Contact Us</a>
</div>
<div class="full-section register" data-aos-duration="1000">
  <div class="side avatar">
    <div class="sec-img">
      <img src="assets/img/research.jpg" alt="">
    </div>
    <div class="image-upload">
      <label for="file-input">
        <img src="assets/img/camera.PNG"/>
      </label>
      <input id="file-input" type="file"/>
    </div>
  </div>
  <div class="side">
    <div class="navbar-login">
      <div class="navbar"
           [style.z-index]="collapsed ? '550' : ''"
           [style.background-color]="collapsed ? '#fff' : ''">
        <a id="nav-toggle" [ngClass]="collapsed ? 'active' : ''" (click)="collapsed = !collapsed">
          <span [style.color]="collapsed ? '#1b2850' : ''"></span>
        </a>
      </div>
    </div>
    <div class="sec-content">
      <div class="title">
        <p>Update your profile</p>
        <div></div>
      </div>
      <div class="full-section form-input">
        <form class="example-form" [formGroup]="profileForm">
          <div class="item-full-name">
            <mat-form-field class="example-full-width first-name">
              <input matInput placeholder="First Name" formControlName="f_name">
            </mat-form-field>
            <mat-form-field class="example-full-width last-name">
              <input matInput placeholder="Last Name" formControlName="l_name">
            </mat-form-field>
          </div>
            <mat-form-field>
              <mat-label>Favorite animal</mat-label>
              <mat-select [formControl]="university">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let animal of animals" [value]="animal">
                  {{animal.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="field-item">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="job" value="">
              </mat-form-field>
            </div>

            <div class="field-item">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="phone" value="">
              </mat-form-field>
            </div>

            <div class="field-item">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="location" value="">
              </mat-form-field>
            </div>

            <div class="field-item">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Linkedin" value="">
              </mat-form-field>

            </div>
          <mat-form-field>
            <textarea matInput placeholder="Description"></textarea>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            </button>
          </mat-form-field>
          <div class="submit">
            <button >Save</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
