.top-home{
    height: 700px;
    color: #fff;
}

.right-section {
    width: 50%;
    display: inline;
}

.left-section {
    display: inline-block;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-image: url("../../../assets/img/image_preview.jpg");
    padding: 219px 75px;
}

.search p{
    font-size: 16px;
    text-align: right;
}

.left-section input{
    width: 100%;
    height: 61px;
}


.text p{
    font-size: 25px;
    margin-top: 75px;
}
