<html>
<div class="top-home">
    <div class="col-xs-6" style="height: 100%;">
        <div class="left-section">
            <div class="search">
                <p>View All Papers</p>
                <input type="text" placeholder="Search">
            </div>
            <div class="text">
                <p>Home to <span>800,000</span> research papers from <span>435,409</span> reserachers across <span>30</span> disciplines.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-6" style="height: 100%;">
        <div class="right-section"></div>
    </div>
</div>
</html>
