.top-home{
    height: 100%;
    color: #fff;
    display: inline-block;
    background-color: #f1f2f2;
}

.right-section {
    color: black;
    width: 50%;
    float: right;
    height: 100%;
    margin-top: -3px;
}


.navbar i{
    font-size: 51px;
    color: #fff;
    border: 30px;
    text-align: center;
    border-radius: unset;
    line-height: inherit;
    margin-top: -3px;
    width: 115px;
    height: 105px;

}

.left-section {
    display: inline-block;
    width: 50%;
    height: 100%;
    background-size: contain;
    background-image: url("../../../assets/img/library.jpg");
    padding: 219px 75px;
}


.login-register{
    color:#1b2850;
}

.text span{
    color: #fdd97a;

}

.search p{
    font-size: 16px;
    text-align: right;
    font-weight: bold;
}

/*.left-section input{*/
    /*width: 100%;*/
    /*height: 61px;*/
/*}*/

.text{
    margin-top: 140px
}

.text p{
    font-size: 25px;
    margin-top: 75px;
    text-align: center;
}

/* Styles for wrapping the search box */

.main {
    width: 50%;
    margin: 50px auto;
}




.right-section {
    display: inline-block;
}
/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}


.login-register{
    display: inline-block;
    font-size: 40px;
    float: right;
    margin-left: 15px;
    margin-top: 20px;

}


.navbar-login div{
    display: inline-block;
    font-size: 40px;
    float: right;
    margin-left: 15px;
    font-family: serif;

}


.navbar-login{
    display: block;
    height: 215px;
}

.navbar{
    float: right;
    background-color: #1b2850;
    margin-left: 30px;
    border-radius: 0;
}


.social-paper{
    display: block;
}

.social{
    display: inline-block;
    margin-right: 25px;
}

.social div{
    display: block;
}

.social-paper{
    display: inline-block;
    float: right;

}

.social i {
    font-size: 20px;
    color: #1b2850;
    margin-bottom: 16px;
}

input{
    height: 65px;
}


.left-section button{
    height: 65px;
    width: 72px;
    background-color: #1b2850;
}
