<div class="nav-collapsed" *ngIf="collapsed">
    <a>Home Page</a>
    <a>Research Paper</a>
    <a>About Us</a>
    <a>How to Become a Researcher</a>
    <a>Our Members</a>
    <a>Heat Map</a>
    <a>Contact Us</a>
</div>

<!--<div class="top-home">-->
<!--    <div class="navbar-login">-->
<!--        <div class="navbar"-->
<!--             [style.z-index]="collapsed ? '550' : ''"-->
<!--             [style.background-color]="collapsed ? '#fff' : ''">-->
<!--            <a id="nav-toggle" [ngClass]="collapsed ? 'active' : ''" (click)="collapsed = !collapsed">-->
<!--                <span [style.color]="collapsed ? '#1b2850' : ''"></span>-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="login-register">-->
<!--            <div class="lang">العربية</div>-->
<!--            <div class="rigister">Register</div>-->
<!--            <div class="login">Login</div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<div class="full-section top-home-login">
    <div class="profile-photo" data-aos="fade-right" data-aos-duration="1000">
        <img src="assets/img/member1.jpg" alt="">
    </div>
    <div class="right-section">
        <div class="navbar-login">
            <div class="navbar"
                 [style.z-index]="collapsed ? '550' : ''"
                 [style.background-color]="collapsed ? '#fff' : ''">
                <a id="nav-toggle" [ngClass]="collapsed ? 'active' : ''" (click)="collapsed = !collapsed">
                    <span [style.color]="collapsed ? '#1b2850' : ''"></span>
                </a>
            </div>
            <div class="login-register">
                <div class="lang">العربية</div>
                <div class="rigister">Log out</div>
            </div>
        </div>
        <div class="edit-profile">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <p>Edit profile</p>
        </div>
        <div class="social-info">
            <div class="info-user">

                <div class="user-name">
                    <div><img src="assets/img/member1.jpg" alt=""></div>
                    <div class="full-name">
                        <div class="title">
                            <h2>Ghina sallit</h2>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="desc-user">
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer
                        adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet dolore magna aliquam erat
                        volutpat. Ut wisi enim ad minim veniam, quis
                        nostrud exerci tation ullamcorper suscipit lobortis
                        nisl ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="info">
                    <div class="info-item">
                        <div class="info-icon">
                            <i class="fa fa-university"></i>
                            <div class="info-data">American University</div>
                        </div>
                        <div class="info-icon">
                            <i class="fa fa-map-marker"></i>
                            <div class="info-data">United Arab Emirates</div>
                        </div>
                    </div>
                    <div class="info-item">
                        <div class="info-icon">
                            <i class="fa fa-suitcase"></i>
                            <div class="info-data">Informatics Engineer</div>
                        </div>
                        <div class="info-icon">
                            <i class="fa fa-eye"></i>
                            <div class="info-data">2.22Views</div>
                        </div>
                    </div>
                    <div class="info-item">
                        <div class="info-icon">
                            <i class="fa fa-file-text-o"></i>
                            <div class="info-data">12 Research papers</div>
                        </div>
                        <div class="info-icon">
                            <i class="fa fa-trophy"></i>
                            <div class="info-data">1 Recognized Research</div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="social">
                <div><i class="fa fa-facebook"></i></div>
                <div><i class="fa fa-instagram"></i></div>
                <div><i class="fa fa-twitter"></i></div>
                <div><i class="fa fa-youtube"></i></div>
            </div>

        </div>


    </div>
</div>


<div class="paper-section d-flex" data-aos="fade-down" data-aos-duration="100">
    <div class="social">
        <div><i class="fa fa-facebook"></i></div>
        <div><i class="fa fa-instagram"></i></div>
        <div><i class="fa fa-twitter"></i></div>
        <div><i class="fa fa-youtube"></i></div>
    </div>

    <div class="social-paper" data-aos="fade-left" data-aos-duration="1000">
        <div class="cards-icon">
            <div class="card-icon-research">
                <div class="box">
                </div>
                <img src="assets/img/paper.png" alt="">
                <div class="paper"><p>Research A Paper</p></div>
                <div class="blue-line"></div>
            </div>

            <div class="card-icon-submit">
                <div class="box">
                </div>
                <img src="assets/img/paper.png" alt="">
                <div class="paper"><p>Submit A Paper</p></div>
                <div class="blue-line"></div>
            </div>
        </div>
    </div>
</div>


<div class="full-section" data-aos="fade-up" data-aos-duration="1000">
    <div class="left-sticker"></div>
    <div class="center-sticker"></div>
    <div class="side">
        <div class="sec-img">
            <img src="assets/img/member1.jpg">
        </div>
    </div>
    <div class="side">
        <div class="sec-content">
            <div class="about-content">
                <h1 class="text-left">
                    <p>About</p>
                    <p>Arab Youth</p>
                    <p> Research Library</p></h1>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet aperiam atque consequuntur
                        ducimus
                        et
                        fuga fugiat non odit quos, ratione repellendus, sapiente temporibus totam veritatis! Ipsum
                        laborum
                        officia
                        voluptatibus.</p>
                </div>
                <div>
                    <div class="title read-more">
                        <p>Read more</p>
                        <div></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="become-researcher" data-aos="fade-up" data-aos-duration="1000">
    <div class="title">
        <p>Become a Researcher</p>
        <div></div>
    </div>
    <div class="cards">
        <div class="card-item">
            <img src="assets/img/broad-knowledge.PNG" alt="">
            <div class="title">
                <p>Broad knowledge prospects</p>
                <div></div>
            </div>
        </div>
        <div class="card-item">
            <img src="assets/img/job-opportunities.PNG" alt="">
            <div class="title">
                <p>Job opportunities and studies</p>
                <div></div>
            </div>
        </div>
        <div class="card-item">
            <img src="assets/img/sharing-knowledge.PNG" alt="">
            <div class="title">
                <p>Sharing Knowledge</p>
                <div></div>
            </div>
        </div>
    </div>
    <div class="button-action">
        <button>Register and be a member</button>
    </div>


</div>

<div class="full-section our-members" data-aos="fade-up" data-aos-duration="1000">

    <div class="full-section with-slider">
        <div class="top-sticker"></div>
        <div class="center-sticker"></div>
        <div class="side">
            <div class="sec-img">
                <ng-container *ngFor="let photo of dataList; let i = index">
                    <img [@fadeInOut] *ngIf="itemIndex == i" [src]="dataList[i]['photo']">
                </ng-container>
            </div>
        </div>
        <div class="side">
            <div class="sec-content">
                <div class="about-content">
                    <h1 class="text-left">
                        <p>Our Research</p>
                        <p>Members</p>
                    </h1>
                    <div class="main-slider">
                        <div class="left-slide" (click)="prev()">
                            <i class="fa fa-chevron-left"></i>
                        </div>
                        <div class="slider-control">
                            <ng-container *ngFor="let text of dataList; let i = index">
                                <p [@fadeInOut] *ngIf="itemIndex == i">{{dataList[i]['text']}}</p>
                            </ng-container>
                        </div>
                        <div class="right-slide" (click)="next()">
                            <i class="fa fa-chevron-right"></i>
                        </div>
                    </div>
                    <div class="member-name">
                        <h4>- Ghina Sallit</h4>
                    </div>
                    <div>
                        <div class="title read-more">
                            <p>Learn more</p>
                            <div></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="heat-map" data-aos="fade-up" data-aos-duration="1000">
    <div class="title">
        <p>Heat Map</p>
        <div></div>
    </div>

        <div
<!--                style="height: 100vh;"-->
<!--                leaflet [leafletOptions]="options"-->
<!--                (leafletMapReady)="onMapReady($event)">-->
        </div>


    <div class="map">
        <img src="assets/img/heat-map.PNG" alt="">
        <div class="statistics">
            <div class="statis-item">
                <div class="statistics-count">80+</div>
                <div class="statistics-action">DOWNLOADS</div>
            </div>
            <div class="statis-item">
                <div class="statistics-count">230+</div>
                <div lass="statistics-action">RESEARCHER</div>
            </div>
            <div class="statis-item">
                <div class="statistics-count">300+</div>
                <div lass="statistics-action">RESEARCH</div>
            </div>
        </div>
    </div>
</div>
<div class="full-section partners" data-aos="fade-up" data-aos-duration="1000">

    <div class="full-section with-slider">
        <div class="top-sticker"></div>
        <div class="center-sticker"></div>
        <div class="side">
            <div class="logo-partner">
                <img src="assets/img/partners.PNG">
            </div>
        </div>
        <div class="side">
            <div class="sec-content">
                <div class="about-content">
                    <h1 class="text-left">
                        <p>Our Partners</p>
                    </h1>

                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet aperiam atque
                            consequuntur
                            ducimus
                            et
                            fuga fugiat non odit quos, ratione repellendus, sapiente temporibus totam veritatis! Ipsum
                            laborum
                            officia
                            voluptatibusLorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet aperiam
                            atque consequuntur
                            ducimus
                            et
                            fuga fugiat non odit quos, ratione repellendus, sapiente temporibus totam veritatis! Ipsum
                            laborum
                            officia
                            voluptatibusLorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet aperiam
                            atque consequuntur
                            ducimus
                            et
                            fuga fugiat non odit quos, ratione repellendus, sapiente temporibus totam veritatis! Ipsum
                            laborum
                            officia
                            voluptatibusLorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet aperiam
                            atque consequuntur
                            ducimus
                            et
                            fuga fugiat non odit quos, ratione repellendus, sapiente temporibus totam veritatis! Ipsum
                            laborum
                            officia
                            voluptatibus.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="frequent-asked-questions">
    <div class="title">
        <p>FAQs</p>
        <div></div>
    </div>

    <div class="faq">
        <app-faq-slider [faqData]="faqDetails"></app-faq-slider>
    </div>
</div>
<div class="full-section contact" data-aos="fade-up" data-aos-duration="1000">
    <div class="side">
        <div class="sec-content">
            <h1 class="text-left">Contact us</h1>
            <div class="contact-info">
                <h3>Email: info@arabyouthcenter.com</h3>
                <h3>Address: Dubai, X Building 9th floo</h3>
                <h3>Contact Number: 04 123 4567</h3>
            </div>
            <div class="social-contact">
                <div><i class="fa fa-facebook"></i></div>
                <div><i class="fa fa-instagram"></i></div>
                <div><i class="fa fa-twitter"></i></div>
                <div><i class="fa fa-youtube"></i></div>
            </div>
        </div>
    </div>
    <div class="side">
        <div class="top-sticker"></div>
        <div class="sec-content">
            <div class="title">
                <p>Enquiry</p>
                <div></div>
            </div>
            <div class=" form-input">
                <form class="example-form" [formGroup]="myForm">
                    <div class="item">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Name" formControlName="food">
                        </mat-form-field>
                    </div>
                    <div class="item">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Email Address" formControlName="comment">
                        </mat-form-field>
                    </div>
                    <div class="item">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Phone Number" formControlName="phone">
                        </mat-form-field>
                    </div>
                    <div class="item">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Message" formControlName="message">
                        </mat-form-field>
                    </div>
                    <div class="submit">
                        <button>Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

