<html>
<div class="top-home">

    <div class="left-section">
        <div class="search">
            <p>View All Papers</p>
            <!--<input type="text" placeholder="Search">-->
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
            </div>
        </div>
        <div class="text">
            <p>Home to <span>800,000</span> research papers from <span>435,409</span> reserachers across
                <span>30</span> disciplines.</p>
        </div>
    </div>


    <div class="right-section">
        <div class="navbar"><i class="fa fa-bars" aria-hidden="true"></i></div>
                    <div class="navbar-login">
                        <div class="lang">العربية</div>
                        <div class="rigister">Register</div>
                        <div class="login">Login</div>
                    </div>


    </div>
</div>
</html>
