    <div class="sec-content">
      <div class="title">
        <p> Research Papers Details</p>
        <div></div>
      </div>
      <div class="full-section form-input">
        <form class="upload-paper-form" [formGroup]="uploadPaperForm">
<!--            <div class="item">-->
<!--                <mat-form-field class="example-full-width">-->
<!--                    <input matInput placeholder="Email Address" formControlName="email">-->
<!--                </mat-form-field>-->
<!--            </div>-->
            <div>
                <h4>Title</h4>
                <textarea class="textbox-lines" rows="1"></textarea>
            </div>
            <div>
                <h4>Description</h4>
                <textarea class="textbox-lines" rows="6"></textarea>
            </div>
            <div>
                <h4>Tags</h4>
                <textarea class="textbox-lines" rows="1"></textarea>
            </div>
            <div>
                <h4>Discipline</h4>
                <textarea class="textbox-lines" rows="1"></textarea>
            </div>
            <div class="submit">
                <button>Continue</button>
            </div>

        </form>
      </div>

    </div>
